$backColor1:#091115;
$backColor2:#0E181E;
$backColor3:#f4f4f4;
$backColor4:#4A6380;

$fontcolor1:#D7E2FF;
$white:#fff;
$black:#000;

$borderInput:#ccc;
$borderDahed:#2F4156;
$fontsize1:16px;
$fontsize2:18px;

$headfont:28px;

$fontweight1:600;
$fontweight2:700;

$hovercolor:#15252F;
$hovercolor2:#e0e0e0;
$padding:10px;
$paddingtop:20px;

$margin:10px;
$margintop:20px;

$spacingall:20px